
<br>
<br>
<div class="all_cocktails">
<% @cocktail.each do |cocktail| %>



     <div id="cocktails_inside">
       <div id="cocktail_name_main_page">
      <%= link_to cocktail.name, cocktail %>  <%# cocktail.user.name %><br>
      </div>
      <%= image_tag cocktail.image, alt: @cocktail.name, class: 'cocktail' %><br>
      <% if @current_user.present? && ( @current_user.admin? || cocktail.user == @current_user ) %>
      <%= link_to "Edit", edit_cocktail_path(cocktail)%><br>
      <% end %>
      <% if @current_user.present? && ( @current_user.admin? || cocktail.user == @current_user ) %>
        <%= link_to "Delete", delete_cocktail_path(cocktail), method: :delete, data: {confirm: "Are you sure?"} %><br>
      <% end %>
      </div>





<% end %>
</div>
<br>
<br>
<br>
