/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */








 * {
  margin: 0;
  padding: 0;
 }

 body {
   background-color: black;
   color: orange;
   margin: 30px;
 }



 #main, #menubar, #site_content, #footer, .main_content {
   /* margin-left: auto;
   margin-right: auto; */
   margin: 0 auto;

 }
 .main{
   position:relative;
 }

#main{
  /* border: 2px solid red; */
  width: 80%;
}


img{
   border: 1px solid black;
   border-radius: 80px;
 }


 ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover{
   color: black;
   border-radius: 35px;
   background: orange;}


   ul#menu, ul#menu li{
     float: left;
     margin: 2px;
     padding: 2px;}

   ul#menu li{
     list-style: none;
   }

   ul#menu li a {

     font: normal 100% arial, sans-serif;

     float: left;
     height: 37px;
     padding: 5px;
     text-align: center;
     color: orange;
     text-decoration: none;
     }



   a, a:hover
   { outline: none;
     text-decoration: none;
     color: orange;}

 #footer {
   width: 100%;
   text-align: center;
   color: orange;
   letter-spacing: 0.1em;
   border-radius: 35px;
   font-size: 1em;
   height: 50px;
   padding: 3px;
   background-color: black;
   border: 1px ridge orange;
   border-radius: 35px;
}

   #menubar {
     width: 100%;
     padding: 3px;
     background-color: black;
     border: 1px ridge orange;
     border-radius: 35px;
     color:black;
     height: 50px;
   }

   .fa-facebook {
     background: #3B5998;
     color: white;
     border-radius: 35px;
   }
   .fa {
     padding: 5px;
     width: 20px;
     text-align: center;
     text-decoration: none;
     margin: 5px 2px;
   }

   .fa:hover {
       opacity: 0.7;
   }

   .fa-twitter {
     background: #55ACEE;
     color: white;
     border-radius: 35px;
   }


   .fa-youtube {
     background: #bb0000;
     color: white;
     border-radius: 35px;
   }

   .fa-instagram {
     background: purple;
     color: white;
     border-radius: 35px;
   }
