
.cocktail_details {
  /* border: 2px solid green; */
}

.image, .instructions {
  display: inline-block;
  width: 48%;
  /* border: 1px solid orange; */
  vertical-align: top;
}

.image img {
  max-width: 500px;
  margin-left: 20px;

}

.cocktail {
    width:170px;
    height: 200px;
  }
#cocktail_title {
  font-size: 60px;
  text-transform: uppercase;
  padding:10px;
  color:orange;
  text-align: center;
  margin-left: 0px;

}
.instructions {
  border: 1px ridge orange;
  border-radius: 35px;
  height: 302px;
  padding: 10px;


}

.all_cocktails {
  /* display: grid; */
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 100px;


}
#cocktails_inside{
  /* box-shadow: 10px 10px 100px 10px orange; */
  border-radius: 35px;
  border: 1px solid orange;
  margin:5px;
  padding: 10px;
}

#cocktail_comments{
  margin-left: 420px;
  margin:5px;
  padding: 10px;

}
#comments{
  border-radius: 35px;
  border: 1px solid orange;
  margin:5px;
  padding: 10px;
}
