


.field input {
  border: 5px solid orange;

      padding: 7px;

      margin: 0 0 10px 0;
  width:200px;
}

   #login{
   width:440px;
   height:
   padding:10px;
   background-color:black;
   color:orange;
   text-align: center;
   font-size: 26px;
   margin-left: 290px;
 }



.submit input {
  background-color: orange;
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 80px;
  margin:-100px;

 }
