/* .first{
width:430px;
height:190px;
padding:30px;
background-color:orange;
color:#333;
border:2px solid;
border-radius: 35px; */

/* 
}
input {
background-color:black;
border-radius:35px;
border:none;
padding:10px 25px;
color:#FFF;
text-shadow:1px 1px 1px #949494;
margin-left:120px
}  */
